@using Discord
@using MonkeyButler.Services

@inject IBotStatusService BotStatusService
@implements IDisposable

<h5>Connection State</h5>

@if (_connectionState == ConnectionState.Connected)
{
    <p class="text-success">@_connectionState</p>
}
else
{
    <p class="text-danger">@_connectionState</p>
}

<h5>Latency</h5>

<p>@_latency ms</p>

@code {
    private ConnectionState _connectionState;
    private int _latency;

    protected override void OnInitialized()
    {
        _connectionState = BotStatusService.ConnectionState;
        _latency = BotStatusService.Latency;

        BotStatusService.OnUpdated += OnUpdated;
    }

    private async Task OnUpdated()
    {
        _connectionState = BotStatusService.ConnectionState;
        _latency = BotStatusService.Latency;

        await InvokeAsync(() =>
        {
            base.StateHasChanged();
        });
    }

    public void Dispose()
    {
        BotStatusService.OnUpdated -= OnUpdated;
    }
}