@using Discord
@model Models.Home.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="https://cdn.discordapp.com/avatars/317021822526947328/4baad101bf1193640f4faa7159ea0415.png" />
    <h1 class="display-4">Monkey Butler</h1>
    <p>Connection Status: <b class="@GetStatusClass()">@Model.ConnectionState</b></p>
</div>

@{
    string GetStatusClass()
    {
        switch (Model.ConnectionState)
        {
            case ConnectionState.Connected: return "text-success";
            case ConnectionState.Connecting: return "text-warning";
            default: return "text-danger";
        }
    }
}
